.placements-a-card{
    background-color: #F3CCF3;
    padding: 10px 5%;
    margin-bottom: 30px;
    margin-top: 30px;
}
.placements-headings{
    font-size: 20px;
    font-weight: 500;
}
.placements-text{
    font-size: 14px;
    margin-top: 0px;
}